name: Deploy Stack

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        default: "development"
        type: choice
        options:
          - development
          - production
  push:
    paths:
      - "bin/**"
      - "package*.json"
      - "workers/**"
      - "lib/**"
      - "cdk.json"
      - "tsconfig.json"
      - ".github/workflows/deploy.yml"

    branches:
      - main
      - dev

jobs:
  deploy:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment || (github.ref == 'refs/heads/main' && 'production' || 'development') }}

    env:
      NOTIFICATION_EMAIL: ${{ secrets.NOTIFICATION_EMAIL }}
      BACKEND_DOMAIN_URL: ${{ secrets.BACKEND_DOMAIN_URL }}
      GITHUB_ORG: ${{ github.repository_owner }}
      GITHUB_REPO: ${{ github.event.repository.name }}
      CLOUDFRONT_DOMAIN_NAME: ${{ secrets.CLOUDFRONT_DOMAIN_NAME }}
      CLOUDFRONT_DOMAIN_CERTIFICATE_ARN: ${{ secrets.CLOUDFRONT_DOMAIN_CERTIFICATE_ARN }}
      CLOUDFRONT_PUBLIC_KEY: ${{ secrets.CLOUDFRONT_PUBLIC_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6.0.0
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_ARN }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test

      - name: Synthesize CDK App
        run: npx cdk synth

      - name: CDK Diff
        run: npx cdk diff

      - name: Deploy Temp Stack
        run: npx cdk deploy TempStack --require-approval never

  notify:
    name: Notify Discord
    runs-on: ubuntu-latest
    needs: [deploy]
    if: always()
    steps:
      - name: Send Discord Notification
        uses: sarisia/actions-status-discord@v1.16.0
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ needs.deploy.result == 'success' && 'success' || 'failure' }}
          title: ${{ github.event.inputs.environment || (github.ref == 'refs/heads/main' && 'production' || 'development') }} Deployment
          description: |
            **Commit:** ${{ github.event.head_commit.message }}
            **Triggered by:** ${{ github.actor }}
            **Branch:** ${{ github.ref_name }}
            **Repository:** ${{ github.repository }}
          url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          username: GitHub Actions
          avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
